/* SECTION - General style */
#map, #forecast {
  margin-top: 50px;
}

#map {
  height: 400px;
  width: 400px;
}

#pos {
  margin-bottom: 50px;
}

.search {
  margin-top: 10px;
  margin-right: 100px;
}

.search-button {
  margin-top: 10px;
  margin-left: 20px;
}

.centered-item {
  align-self: center;
}

#satellite-rain-map {
  margin-left: 5px;
}